nav {
    background-color: #ff9a57;

    
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  nav ul li {
    display: inline-block;
    position: relative;
  }
  
  nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
   

  }
  
  nav ul li a:hover {
    background-color: #ffffff;
    text-decoration: none;
    
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation: fade-in 0.8s ease;
    
  
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    
  }
  
  .dropdown-menu li {
    margin-bottom: 0px;
  }
  
  .dropdown-menu li a {
    color: #fff;
    text-decoration: none;
    width: 160px; /* ปรับขนาดความกว้างตามต้องการ */
    padding: 10px; /* ปรับขนาดขอบเขตภายใน Dropdown */
    border-bottom: 1px solid #ccc;
   
  }



  

  




  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
    
  }

  

  .separator {
    color: white;
    font-size: 20px; /* เพิ่มขนาดของเส้นคั้นเป็น 18px */
    text-decoration: none; /* ไม่ต้องมีขีดเส้นใต้ข้อความ */
    margin: 0 0px; /* กำหนดระยะห่างระหว่างเส้นคั้นกับข้อความ */
    font-weight: lighter;
  }



